
    <header class="  d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-warning" >
    
    <img  class="ms-5" src="\assets\NicePng_food-icon-png_1314271-removebg-preview.png" width="10%" >
      <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5">NG-FOOD</span>
      </a>
  
      <ul class="nav nav-pills align-items-center mx-5">
        <li class="nav-item "><a href="#" class="nav-link">Cardápio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contatos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
      </ul>
    </header>

  