<div class="container">
  
<div class="list-group">
    <a routerLink="/comidas" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="\assets\imagens\Lanches.png" alt="twbs" width="30% ">
      <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
        <div>
          <h6 class="mb-0">Lanches</h6>
          <p class="mb-0 opacity-75">Os melhores lanches da cidades!</p>
        </div>
      </div>
    </a>
</div>
